.content-wrapper {
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center;     
    height: 100%;           
}

h2 {
    text-align: center;      
}

.button-close {
    margin-top: 20px;     
}
