.grid-container{
    display: grid;
    grid-template-rows: 1fr 6fr;
    height: 50%;
    width: 92%;
    border: solid 1px black;
    border-radius: 15px;
}

h2{
    text-align: center;
    margin-bottom: 20px; 
}

form{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

.form-group { 
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%; 
}

label {
    width: 20%; 
    padding-right: 10px;
    text-align: right; 
}

input[type="text"],
input[type="date"] {
    flex: 1; 
    padding: 8px; 
}
