<div class="grid-container">
    <h2>confirm your reservation</h2>
    <form method="post" #confirmationReservationForm="ngForm">
        <div class="form-group">
            <label for="city">city : </label>
            <input type="text" [(ngModel)]="reservation.city" name="city" readonly>
        </div>
        <div class="form-group">
            <label for="departure-date">departure date : </label>
            <input type="date" [(ngModel)]="reservation.departureDate" name="departure-date">
        </div>
        <div class="form-group">
            <label for="return-date">return date : </label>
            <input type="date" [(ngModel)]="reservation.returnDate" name="return-date">
        </div>
        <div>
            <input type="submit" value="confirm reservation" (click)="confirmReservation()">
        </div>
    </form>
</div>
