<div class="grid-container">
    <img src="{{reservation.carDto.carCaracteristicsDto.img}}" alt="carImg">
    <div class="caracteristics-container">
            <p class="brand-model">{{reservation.carDto.brand}} {{reservation.carDto.model}}</p>
            <p class="text-content ">price : <span>{{reservation.carDto.price}}</span> € </p>
            <p class="text-content ">departure date : <span>{{reservation.departureDate}}</span></p>
            <p class="text-content ">return date : <span>{{reservation.returnDate}}</span></p>
            <p class="rating ">rating : <span>{{reservation.carDto.rating}}</span></p>
    </div>
</div>
