footer {
    background-color: black; 
    overflow: hidden; 
    display: flex; 
    justify-content: space-between; 
    margin-left:2%;
    margin-right:2%;
}

.footer a:hover {
    background-color: #ddd; 
    color: black;
}

footer a {
    float: left; 
    color: white; 
    text-align: center; 
    padding: 14px 20px; 
    text-decoration: none; 
    font-size: 17px; 
}
