.grid-container {
    height: 100%;
    width: 100%;
    display: grid;
}

.details-container{
    height: 100%;
    width: 100%;
    display : flex;
    flex-direction : column;
    justify-content: space-between;
}

.emoji {
    height: 1.5em;
    width: 1.5em;
}


